*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Panagram Medium';
}

@font-face {
    font-family: 'Panagram Medium' ;
    src: url('../fonts/PPPangramSans-Medium.otf');
}

@font-face {
    font-family: 'Akira';
    src: url('../fonts/Akira\ Expanded\ Demo.otf');
}

body{
    background-color: $black;

    
}

section{
    height: 100vh;
    padding: 50px 200px;
    margin-bottom:7vh;

    &>div>div>h2{
        position: relative;
        text-transform: uppercase;
        font-family: 'PP Pangram Sans';
        color: white;
        font-size: 40px;

        &::before{
            content:" ";
            padding: 10px;
            background-color: $orange;
        }
    }
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Akira' ;
}

.btn{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 800;
    background: $black;
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 300ms ease-in-out;
    &:hover{
        //background-color: $light-blue;
    }
}

.image-fit{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $black; 
}
::-webkit-scrollbar-thumb {
    background: $orange; 
}
  
.active{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
    
}

.menu-overflow{
    overflow: hidden;
}