*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Panagram Medium';
}

@font-face {
    font-family: 'Panagram Medium' ;
    src: url('../fonts/PPPangramSans-Medium.otf');
}

@font-face {
    font-family:'Panagram Bold';
    src: url('../fonts/PPPangramSans-Bold.otf');
}

@font-face {
    font-family: 'Akira';
    src: url('../fonts/Akira\ Expanded\ Demo.otf');
}

body{
    background-color: $black;
    overflow-x: hidden;
    
}

section{
    height: 100vh;
    padding: 100px 200px;
    position: relative;
    z-index: 10;

    @media(max-width:1000px){
        padding: 100px 20px;
        height: auto;
        &>div>h2{
            font-size: 20px;
        }
    
        &>div>div>h2{
            font-size: 20px;
        }
    }
    &:before{
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 400px 0 0 100vw;
        border-color:  transparent transparent transparent $black;
        z-index: -1;
    }
    
    

    /*&>div>div>h2{
        position: relative;
        text-transform: uppercase;
        font-family: 'PP Pangram Sans';
        color: white;
        font-size: 40px;

        &::before{
            content:" ";
            padding: 10px;
            background-color: $orange;
        }
    }
    */

}


footer{
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    color: white;
    margin: 100px 0px;
    text-align: center;
    @media(max-width:1000px){
        display: block;
        padding: 0px 30px;
        &>div{
            margin-bottom:30px;
        }
    }
    .footer-hashtag{
        grid-column: 1 / span 12;
        text-align: center;
        align-self: center;
        font-size: 30px;
        letter-spacing: 1px;

        @media(max-width:1000px){
            font-size: 20px;
        }
    }
    .footer-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row:2 ;
        grid-column:6 / span  2;
        align-self: center;
        img{
            object-fit: contain;
        }
    }
    .footer-social{
        display: flex;
        justify-content: space-around;
        grid-row: 3;
        grid-column: 5 / 9;
        align-self: center;

        a{
            color: $orange;
            font-size: 30px;
        }
    }
    .footer-categories{
        display: flex;
        justify-content: space-around;
        grid-row:4;
        grid-column:4 / 10;

        @media(max-width:1000px){
            display: block;
            &>div{
                margin-top:30px;
            }
        }

        h3{
            letter-spacing: 2px;
            font-size: 20px;
        }
        ul{
            list-style: none;

            li{
                font-size: 16px;
                margin-top: 20px;
            }
        }
    }

    .footer-copyright{
        grid-row:5;
        grid-column: 4/10;
        text-align: center;
        padding: 20px 0px;
    }
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Akira' ;
}

.btn{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 800;
    background: white;
    border: none;
    color: $orange;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 300ms ease-in-out;
    
    @media(max-width:1000px){
        padding: 10px 10px;
        font-size: 10px;
    }
    &:hover{
        background-color: $orange;
        color: white;
        //background-color: $light-blue;
    }
}

.image-fit{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $black; 
}
::-webkit-scrollbar-thumb {
    background: $orange; 
}
  
.active{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
    
}

.menu-overflow{
    overflow: hidden;
}