
.hero{
    height: 64vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    &__background{
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        left: 0;
        z-index: -1;
        
    }
    &__information{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //margin-bottom:100px;
        
        &__text{
            margin-top:100px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            h1,h3{
                justify-self: center;
                //letter-spacing: 5px;
                text-transform: uppercase;
                color: white;
            }

            h1{
                font-size: 80px;
                letter-spacing: 5px;
            }

            h3{
                font-family: 'PP Pangram Sans';
                font-size: 20px;
            }

            p{
                font-size: 20px;
                color: white;
            }
        }
        
        

        &__buttons{
            display: flex;
            margin-bottom:-120px;
            
            :nth-child(2){
                background-color:$orange;
                color: white;
            }

            .btn{
                margin-left:80px;
                margin-top:100px;
                
            }
        }
        &__social{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            color: white;
            font-size: 23px;
            margin-top: 100px;
            i{
                align-self: center;
                cursor: pointer;
                margin-right:20px;
                transition: 300ms ease-in-out;
                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }
}



.twitter{
    display: flex;
    align-items: center;
    position: relative;
    background-color: $twitter;
    padding: 30px;
    overflow: hidden;
    i{
        z-index: 99;
        color: white;
        font-size: 50px;;
    }
    

    p{
        display: inline;
        color: white;
        //position: absolute;
        animation: twitter 12000ms ease-in infinite;
    }   
}

@keyframes twitter{
    from{
        transform: translateX(250%);
    }
    to{
        transform: translateX(-120%);
    }
}

