
.hero{
    height: 64vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


    
    &__background{
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        left: 0;
        z-index: -1;
        
    }
    &__information{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &__text{
            margin-top:100px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            h1,h3{
                justify-self: center;
                //letter-spacing: 5px;
                text-transform: uppercase;
                color: white;
            }

            h1{
                font-size: 80px;
                letter-spacing: 5px;

                @media(max-width:1000px){
                    font-size: 20px;
                }
            }

            h3{
                font-family: 'PP Pangram Sans';
                font-size: 25px;
            }

            p{
                font-size: 20px;
                color: white;
            }

            .countdown-container{
                display: flex;
                justify-content: space-around;
                width: 100%;
                margin-top:100px;

                @media(max-width:1000px){
                    //flex-direction: column;
                }

                .timer-container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p{
                        font-family: 'akira';
                        font-size: 50px;
                        color: $orange;
                        margin-bottom: 20px;

                        @media(max-width:1000px){
                            font-size: 20px;
                        }
                    }

                    h3{
                        @media(max-width:1000px){
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        
        

        &__buttons{
            display: flex;
            margin-bottom:-100px;
            @media(max-width:1000px){
                //flex-direction: column;
                margin-bottom:-10px;
            }
            
            :nth-child(2){
                background-color:$orange;
                color: white;
            }

            .btn{
                margin-left:80px;
                margin-top:100px;
                
                @media(max-width:1000px){
                    margin-top: 10px;
                    margin-left: 20px;
                }
            }
        }
        
    }
}



.twitter{
    display: flex;
    align-items: center;
    position: relative;
    background-color: $twitter;
    padding: 30px;
    overflow: hidden;
    margin-top:100px;

    @media(max-width:1000px){
        padding: 5px;
    }
    i{
        z-index: 5;
        color: white;
        font-size: 50px;;
    }
    

    p{
        display: inline;
        color: white;
        //position: absolute;
        animation: twitter 12000ms ease-in infinite;

        @media(max-width:1000px){
            font-size:10px;
        }
    }   
}

@keyframes twitter{
    from{
        transform: translateX(250%);
    }
    to{
        transform: translateX(-120%);
    }
}

