.teams{
    background-color: $orange;
    padding: 100px 400px;
    .teams-container{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        .teams__header{
            grid-column: 1 / span 3;
            font-size: 30px;
            text-align: center;
            color: white;
        }
        .teams__icons{
            grid-column: 1 / span 3;
            display: flex;
            justify-content: center;
            .games-active{
                opacity: 1;
            }

            img{
                height: 35px;
                margin-right: 20px;
                cursor: pointer;
                transition: 300ms ease-in-out;
                opacity: 0.5;
                &:hover{
                    opacity: 1;
                }
            }
        }

        &__news{
            grid-column: 1 / span 3;

            &__games{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-gap: 20px;
                grid-auto-flow: dense;
                animation: opacity 500ms ease-in-out;

                :first-child {
                    grid-area:1/1/3/3;
                }

                :nth-child(2){
                    grid-area:1/3/1/3;
                }

                :nth-child(3){
                    grid-area: 1 /4 /1 /4;
                }
                :nth-child(4){
                    grid-area:3/1/3/1;
                }
                :nth-child(5){
                    grid-area:3/2/3/2;
                }
                :last-child {
                    grid-area: 2/3/4/5;
                }
            }

            .games-disabled{
                display: none;
            }
        }
        .news-container{
            height: auto;
            //display: flex;
            flex-direction: column;
            //justify-content: center;
            cursor: pointer;
            overflow: hidden;
            .news__subtitle{
                display: none;
                background-color: $black;
            }
            
            img{
                box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
                transition: 3000ms ease-in-out;

                &:hover{
                    transform: scale(1.3);
                    filter: grayscale(0.8);
                }
            }
        }
    }
}

@keyframes opacity{

    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}